In [1]:
num1 = input()
num2 = input()
num3 = input()

sum = int(num1) + int(num2) + int(num3)
print('the sum of {0} {1} is {2} is {3}'.format(num1,num2,num3, sum))

45
45
52
the sum of 45 45 is 52 is 142

In [8]:
Numbers = 45.3, -0, 2.85, 05.45, 23.6
print(int(45.3),int(-0),int(2.85),int(05.45),int(23.6))

45 0 2 5 23

In [9]:
variable = 20
variable +1

21

In [10]:
'expression_1' + 'expression_2'
'expression_1' * 3

'expression_1expression_1expression_1'

In [11]:
print('Artificial Intelligence was first coined in the year = ' + 1999)

TypeError: can only concatenate str (not "int") to str